body {
  background-color: #ADD8E6;
}

h1 {
  background-color: #00CC45;
  font-size: 80px;
  width: 1100px;
  margin: 24px auto;
  margin-bottom: -40px;
  text-align: center;
  border: 1px solid black;
  padding: 40px;
text-shadow: 2px 2px 2px #000;
}



nav li {
 float: left;
  padding: 20px;
  width: 200px;
  border: none;
  margin: 15px;
  margin-left: -10px;
  color: #FFFFFF;
  background-color: #00CC45;
  text-decoration: none;
   list-style-type: none;
  text-align: center;
  font-size: 40px;
  box-shadow: 10px 10px 10px #666;
  text-shadow: 2px 2px 2px #000;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

nav li:hover{
  background-color: #008030;
  color: #EEEEEE;

}

#wrapper {
  margin: 20px auto;
  width: 1180px;
  border: 1px solid black;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
   /* This is for the dummy columns, replace or delete */
}


.roundedbox {
  padding: 10px;
  width: 250px;
  border: 2px solid #999;
  background-color: #ccc;
  border-radius: 10px;
}


.dropshadowbox {
  padding: 10px;
  margin: 20px;
  width: 250px;
  border: 1px solid #999;
  background-color: #ccc;
  box-shadow: 10px 10px 10px #666; /* x, y, blur, color */
}

.square{
  width: 270px;
  height: 250px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: -5px;
}



footer {
  text-align: center;
  padding: 20px;
  width: 1140px;
  height: 50px;
  border: 2px solid #00CC45;
  background-color: #00CC45;
  margin: 20px auto;
  margin-top: 0px;
  border: 1px solid #000;
}

.bio {
width: 800px;
  margin-left: 40px;
  font-family: 'New Tegomin', serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;

}

.cred {
  font-family: 'New Tegomin', serif;
text-align: center;
}

h2 {
  margin-left: 40px;
  font-family: 'New Tegomin', serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;

}



/* style for dummy columns, delete and replace with your own CSS */
/* .dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}
