/*
p {
 color: #ff0000;
background-color: #0000FF;
}
*/
 h1 {
   background-color: #80CBB3;
 }
p {
  color: #121212;
}

#specialid {
  color: #00FF12;
  background-color: #000000;

}
.specialp {
  color: #FFFFFF;
  background-color: #200000;
}

#div {
color: #0000FF;
background-color: #FFFF00;
}

.spanstyle {
  color: #00FF00;
}

/* link editing */
a {
  color:#FF0000;
}
a:link {
 color: #FF0000;
}

a:visited {
 color: #00FF00;
}

a:hover {
 color: #ffff00;
}
a:active {
 color: #FF0000;
}
a {
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}
/*link editing above */
