body {
  background-color: #999999;
}


.p1, .p2 {
  border: 1px solid #ff0000;
}

.floatimage {
  width: 100px;
  margin: 20px;
  margin-top: 0px;
  float: left;
}

.p2 {
  clear: both;
}

/* unordered list with no bullets */
nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

/* horizontal with float */
nav li {
  float: left;
  padding: 20px;
  border: 1px solid #000000;
  margin: 30px;
}

body {
  background-color: #999999;
}

.box {
  border: 1px solid blue;
}

header {
  grid-column: span 12;
}

nav {
  grid-column: span 3;
}

main {
  grid-column: span 9;
}

footer {
  grid-column: span 12;
}

p {
  color: #ff0000!important;
}

p {
  color: #00ffff;
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 75px;
}
